:root {
  --seafoam: #2efae3;
  --light-blue: #80c7e0;
  --blue: #90b5f5;
  --purple: #b78aff;
  --dark-blue: #7e7ee0;
}

body {
  background-color: lightblue;
}

.jumbotron {
  text-align: center;
  padding: 40px;
  border: 4px solid black;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px 0;
  border: 4px solid black;
}

.upcoming {
  text-align: center;
}

.nearUser {
    border: 4px solid black;
}

.prevBtn {
  margin: 10px;
}

.prevS {
  height: 200px;
  border: 4px solid black;
  overflow: scroll;
}

.prevTitle {
  text-align: center;
  margin-top: 10px;
}

.popTitle {
  text-align: center;
  margin-top: 10px;
}

.popBtns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popBtn {
  height: 120px;
  width: 120px;
  margin: 10px;
}

#goBack {
  width: 150px;
}

.eventBox {
  border: 4px solid black;
}

.eventDisplay {
  text-align: center;
  padding-bottom: 20px;
}

.mainC {
  display: flex;
  justify-content: space-around;
  max-height: 500px;
  text-align: center;
}

.topBox {
  width: 40%;
  margin-right: 10px;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 40px;
}

.bottomBox {
  width: 60%;
  margin-left: 10px;
  text-align: right;
}

.bottomBox a {
  margin-right: 70px;
}

.bottomBox img {
  margin-top: 30px;
  margin-right: 30px;
}

.cssListItem {
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 16px;
}

.nearUser {
  border: 4px solid black;
}

.popV {
  border: 4px solid black;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
}

.mission {
  background: url(./images/mission-ballroom-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(86, 186, 248);
}

.redRocks {
  background: url(./images/Red-Rocks-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(248, 65, 65);
}

.marquis {
  background: url(./images/marquis-theatre-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(218, 101, 244);
}

.summit {
  background: url(./images/summit-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
  text-shadow: 2px 3px 5px black;
}

/* // Small devices */
@media (min-width: 576px) {
}

/* // Medium devices */
@media (min-width: 768px) {
}

/* // Large devices */
@media (min-width: 992px) {
}

/* // Extra large devices */
@media (min-width: 1200px) {
}
