body {
    background-color: burlywood;
}

header {
    text-align: center;
    padding: 40px;
    border: 4px solid black;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 0;
    border: 4px solid black;
}



.mainB {
    display: flex;
    justify-content: space-around;
    max-height: 420px;
    text-align: center;
}

.nearUser {
    width: 50%;
    min-height: 440px;
    height: fit-content;
    margin-right: 10px;
    border: 4px solid black;
}

.prevBtn {
    margin: 10px;
}

.otherBox {
    width: 50%;
    margin-left: 10px;
}

.prevS {
    height: 200px;
    margin-bottom: 5%;
    border: 4px solid black;
    overflow: scroll;
}

.popV {
    height: 75%;
    max-height: fit-content;
    border: 4px solid black;
}

.popBtns {
    display: flex;
}

.popBtn {
    height: 120px;
    width: 120px;
    margin: 10px;
}

#goBack {
    width: 150px;
}

.eventBox {
    border: 4px solid black;
}

.eventDisplay {
    text-align: center;
    padding-bottom: 20px;
}

.mainC {
    display: flex;
    justify-content: space-around;
    max-height: 500px;
    text-align: center;
}

.topBox {
    width: 40%;
    margin-right: 10px;
    text-align: left;
}

.topBox h4 {
    padding-bottom: 10px;
    padding-left: 40px;
}

.bottomBox {
    width: 60%;
    margin-left: 10px;
    text-align: right;
}

.bottomBox a {
    margin-right: 70px;
}

.bottomBox img {
    margin-top: 30px;
    margin-right: 30px;
}